<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>

<% @down_servers.each do |x| %>
    <%="#{x}"%><br>
   <% end %>

</body>
</html>